@model WebMvc1.Models.FormModel

@{
    var DateTimeNow = (DateTime.Now - Model.Dateofbirth).Days;
    var dateOnly = (Model.Dateofbirth.ToShortDateString());
    ViewData["Title"] = "Form1";
}

<div class="text-left">
    <h1 class="display-4">Dane z formularza</h1>
    @Html.DisplayNameFor(model => model.Name):          @Html.DisplayFor(model => model.Name)
    <br />
    @Html.DisplayNameFor(model => model.Dateofbirth):   @dateOnly
    <br />
    Ilosc dni od urodzenia: @DateTimeNow
    </br>

</div>
<br/>
<a href="/form1.html">Powrót do Form1 (HTML)</a>
<br />

